@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#00b8b8;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

body {
    font-family: 'Poppins', Sans-Serif;
}

.header{
   padding: 0.2rem 0 0.2rem;
   border-bottom: var(--border);
   background-color: var(--light-bg);
   height: 5.5rem;
   text-align: center;
}
.header .logo{
   font-size: 2rem;
   color:var(--black);
}
.header .logo span{
   color:var(--blue);
}

.clearfix:before, .clearfix:after { 
    content: ""; 
    display: table; 
 }
 
 .clearfix:after { 
    clear: both; 
 }
 
 a {
    color: var(--blue); 
    text-decoration:none;
 }
 
 a:hover {
    text-decoration:underline;
 }

 .form{
    width: 300px; margin: 0 auto;
 }
 
 input[type='text'], input[type='email'], input[type='password'] {
    width: 200px; 
    border-radius: 5rem;
    border: var(--border); 
    padding: 10px; color: var(--black); 
    font-size: 14px; 
    margin-top: 10px;
 }
 
 input[type='submit']{
    padding: 10px 25px 8px; 
    color: var(--white); 
    background-color: var(--blue); 
    text-shadow: -- 0 1px 0; 
    font-size: 16px; 
    box-shadow: var(--box-shadow);
    border: var(--border); 
    border-radius: 5rem; 
    margin-top: 10px; 
    cursor:pointer;
 }
 
 input[type='submit']:hover {
    background-color: var(--light-bg);
 }